@use '../../../plugins/sim-plugin/includes/css/scss/global' as *;

.sim-form-wrapper{
	input:disabled {
		border: none;
		padding: 0;
		font-weight: bold;
		font-size: inherit;
	}

	.formfield-input:not(input[type='radio']){
		float:left;
	}
	
	.info-box{
		position: relative;
		z-index: 2;
	}

	.info-icon{
		flex:1;
		margin-left: 10px !important;
		width: 25px;
		padding-top: 30px;
	}

	label .info-icon{
		margin-top: -30px;
		padding-top: 0px;
	}

	/* Mark input boxes that gets an error on validation: */
	input.invalid {
	  background-color: #ffdddd;
	}

	.formsteploader{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	/* Make circles that indicate the steps of the form: */
	.step {
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bd2919;
		border: none;
		border-radius: 50%;
		display: inline-block;
		opacity: 0.5;
		
		/* Mark the active step: */
		&.active {
			opacity: 1;
			height: 18px;
			width: 18px;
		}

		/* Mark the steps that are finished and valid: */
		&.finish {
			background-color: $secundaryColor;
			opacity: 0.8;
		}
	}

	.next-button{
		float: right;
	}

	@media (max-width: $mobilewidth){
		.submit-wrapper{
			margin-top: 0px;
		}
	}

	.submit-wrapper{
		width: 100%;
		
		.button{
			margin-right: 10px
		}
	}

	.multi-step-controls-wrapper{
		display:flex; 
		width:100%;
		padding-top: 20px;

		.submit-wrapper{
			justify-content: end;
			margin: 0px;
			
			.button{
				margin-top: 0px;
			}

			.loadergif{
				margin-top: 0px;
			}
		}
	}
	

	.form-submit{
		&:disabled{
			background-color: grey;
			
			.online{
				display: none;
			}
		}
	}

	.conditions-info{
		margin-top: -20px;
		margin-right: 30px;
		float: right;
		color: #bd2919;
		font-size: xx-large;
	}

	.clone-div{
		margin-top: 5px;
		
		.button{
			max-width: 50px;
			max-height: 40px;
    		margin-top: auto;
		}
	}

	.option-label{
		margin-left: 5px;
	}
	
	.label-text{
		margin-bottom: 5px;
	}
	
	.input-wrapper {
		margin-top: 10px;
		&:not(.info){
			float: left;
		}
		
		&.flex{
			display: flex;
			flex-wrap: wrap;

			@media (max-width: $mobilewidth){
				input[type="date"],
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				input[type="month"],
				input[type="password"],
				input[type="number"]
				{
					width: 100%;
					margin-bottom: 10px;
				}
			}
		} 

		
		input:not([type='checkbox'], [type='radio']){
			margin-right: 10px;
		}
	}
	
	.clone-div{
		.nice-select{
			display: inline-block;
		}
	}
	
	.nice-select.relation{
		min-width: 150px;
	}

	.form-label{
		width: 100%;
	}

	.highlight{
		background-color: #f3f37d;
		background: #f3f37d;
	}
}

.export-button-wrapper{
	margin:50px 0px 20px 0px;
	display: flex;
	
	form{
		min-width: fit-content;
	}
}

.sim-form-wrapper input[type="text"],
.sim-form-wrapper input[type="email"],
.sim-form-wrapper input[type="tel"],
.sim-form-wrapper input[type="month"],
.sim-form-wrapper input[type="password"],
.sim-form-wrapper input[type="search"],
.sim-form-wrapper input[type="number"],
.sim-form-wrapper input[type="url"]
{
	&:not(.column-settings, .element-condition){
		width: 100%;
	}
}

.edit-forms-table{
	text-decoration: underline;
	text-decoration-color: $primaryColor;
}

.checkbox-label{
	margin-right: 10px;
}