/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.info-box {
    position: relative;
    z-index: 2;

	.info-icon-wrapper{
		float: right;
	}

	.info-icon {
		flex: 1;
		margin-left: 10px !important;
		width: 25px;
		padding-top: 30px;

		svg{
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 0.07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	}
}