/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use "./../../../../tsjippy-shared-functionality/css/scss/global" as *;
@use "./../../../../tsjippy-shared-functionality/css/scss/main";

@use './styles/conditions';

form.wp-block-tsjippy-forms-formbuilder{
    > .components-flex:nth-child(even){
        background-color: aliceblue;
    }

    > .components-flex:nth-child(odd){
        background-color: lightgray;
    }
    
    .block-list-appender{
        padding: 10px;
        text-align: center;
        position: relative;

        .add-form-element-button{
            background-color: $primaryColor;
            color: white;
        }
    }
}

.condition-if{
    font-weight: 600;
}